<div class="container">
  <h1>FSA Annual Amount Calculator</h1>
  <img class="logo" src="./assets/image/site-logo-color.png"/>
  <br>
  <mat-card class="form-wrapper">
    <form [formGroup]="calculatorForm">
      <br>
      <div class="row">
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-4 col-sm-6">
          <mat-form-field>
            <mat-hint><small>Please click the calendar icon to select a date.</small></mat-hint>
            <input matInput [min]="this.minDate" [max]="this.maxDate" [matDatepicker]="picker"
                   placeholder="FSA Start Date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-4 col-sm-6">
          <mat-form-field>
            <span matPrefix>$ &nbsp;</span>
            <input matInput placeholder="Amount Per Paycheck" formControlName="amountPerPay" type="number" max="500">
          </mat-form-field>
        </div>
      </div>
      <br><br>
      <mat-divider></mat-divider>
      <br><br>
      <div class="row">
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-4 col-sm-6">
          <mat-form-field class="annualAmount">
            <input matInput placeholder="Annual Amount" formControlName="amountAnnual" readonly="readonly"
                   [value]="calculatorForm.get('amountAnnual').value | currency">
          </mat-form-field>
        </div>
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-4 col-sm-6">
          <button mat-raised-button (click)="this.reset()" class="reset">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-11">
          <small class="notification" *ngIf="this.amountError === true">
            The maximum annual amount is {{ this.maxAnnualAmount | currency }}, your result exceeded the maximum!
          </small>
        </div>
      </div>
    </form>
  </mat-card>
</div>
