/* You can add global styles to this file, and also import other style files */
/* Import material theme css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// color configs
$carnegie-dark-blue: #163671;
$carnegie-light-blue: #5eb6cd;
$carnegie-brown: #c49a6c;
$carnegie-green: #96ca4f;
$red: #e45832;
$background-grey: #f9f9f9;

html, body {
  background-color: $background-grey;
  height: 100%;
  .container {
    position: relative;
  }
  h1 {
    text-align: center;
    color: $carnegie-dark-blue;
  }
  h2 {
    color: $carnegie-dark-blue;
  }
  .form-wrapper {
    font-size: 22px;
    background-color: white;
    width: 100%;
    padding: 20px;
    min-height: 400px;
    .reset {
      margin-top: 25px;
    }
    .mat-form-field {
      width: 100%;
    }
    .mat-select-value-text {
      font-size: 18px;
    }
    .annualAmount {
      .mat-form-field-underline {
        display: none;
      }
    }
    .notification {
      background: #e45832;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      width: 100%;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  }
  .mat-option-text {
    font-size: 16px;
  }
  img.logo {
    max-width: 45px;
    position: absolute;
    left: 15px;
    z-index: 1;
    top: 5px;
  }
}
